# Compiler files
cache/
out/
build_promise/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# TypeScript build info in frontend
frontend/*.tsbuildinfo

# Hardhat stuff
node_modules/
artifacts/
cache_hardhat/
src/types/

# Mac OS
.DS_Store